/*----------------------------------------------------------------------------- 
POLYTECHNIC UNIVERSITY OF THE PHILIPPINES SANTA ROSA CAMPUS CMS
-----------------------------------------------------------------------------*/
body {font-family: 'Gotham Light', sans-serif !important;color:white;}
.clear {
    clear:both
}
#wrapper {
    position: relative;
    min-height: 100%
}
/* HEADER */
#header-container {padding-top: 70px!important;width:100%!important;margin:0 auto!important;background:#ffffff!important;position:relative!important;}
a 				{color: #a9a9a9!important;}
a:hover			{color: #9d4448!important;background-color: transparent!important;}
.logo_container img {
    bottom: -37%;
    left: 5%;
    margin-right: auto;
    position: absolute;
    width: 12%;
}
.school {
    left: 18%;
    position: absolute;
    top: 35%;
    width: 30%;
}
.logo_container .text1 {font-size: 10px;font-family: 'Open Sans', sans-serif;color: #c0c0c0;}
.logo_container .text2 {font-size: 14px;font-family: 'Open Sans', sans-serif;color: #c0c0c0;}
.logo_container .text3 {font-size: 17px;font-family: 'Trajan Pro', sans-serif;color: #000000;}
.menu_container {float: right;width: 50%;margin: 0;padding-left: 0;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {color:#9d4448!important;}
.nav > li {font-size: 12px;}





/* BANNER */
.menu-hover-arrow {
    left: 51.5%;
    position: absolute;
    top: 6.5%;
    width: 26px;
    z-index: 99;
}
.slider {position:relative; padding-top: 45px;padding-bottom: 40px;}
.slider-container {width:100%; border-top: 5px solid #800000;}
.bg-rectangle {
    background-color: #800000;
    height: 50px;
    margin-top: 20px;
    min-width: 100%;
}
.bg-rec-container {
    height: 100%;
    padding-top: 15px;
    margin: auto;
}
.arrow {
    left: 25px;
    position: absolute;
    top: 20px;
    z-index: 99;
}
/* SIDEBAR CONTENT */
.sidebar-news-container{
    margin-top: -30px;
    padding-left: 15px;
    padding-top: 15px;
    background-color: #f2f2f2;

}
.sidebar-about-container{
    margin-top: 35px;
    padding-left: 15px;
    padding-top: 15px;
    background-color: #f2f2f2;

}
.sidebar-news {
    background-color: #f2f2f2;
    min-height: 40px;
}
.sidebar-news p .sidebar-news-text{
    font-family: 'Open Sans', sans-serif!important;
}
.content {
    position: relative;
}
.view-news .btn-primary {
    background-color: #800000!important;
    border-color: transparent!important;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-top: 25px;
}
.media-body a:hover{
    text-decoration: none!important;
    color:#800000!important;
}
.about-img {
    margin-left: 65px;
    padding-bottom: 40px;
    width: 50%;
}

/*FOOTER */
.bottom {position:relative;bottom:0px;min-height: 340px;width:100%;font-family: 'Gotham Light', sans-serif !important;}
#footer_container {
    background: url("../img/footer-bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    min-height: 300px;
    padding: 10px 0 0;
    position: absolute;
    width: 100%;
    z-index: 20;
}
#footer {
	width:100%;
	margin:auto;
	padding:20px 0 30px 0;
	font-size:12px;
	color:white;
	min-height: 100%;
}
#footer > div {
    min-width:100%;
    text-align: center;
}
.copyright {
	font-family: 'Gotham Light', sans-serif;
    bottom: 0;
    display: block;
    float: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    width: 100%;
    color:#939393!important;
    font-size: 10px;
    margin-bottom: 10px;
}
.connect > ul {
    list-style-type: none !important;
}
.col-md-1 {
    width: 15%!important;
}
.connect {

    margin-left: -13px;
    margin-top: 20px;
    text-align: left;
    width: 180px;
}
.container1 {
    padding-left: 240px;
}
.connect li {
    font-size: 12px;
}
.align1 {
    margin-right: 30px;
}
.align2 {
    margin-right: 50px;
}
.align3 {
    margin-right: 7px;
}
.align4 {
    margin-right: 5px;
}
