<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet">
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<div id="footer_container">
    	<div id="wrap">
            <footer id="footer" class="bs-docs-grid">
            	<div class="row-fluid show-grid">      
                    <ul class="footer-list">
                        <li><a href="#">Connect</a></li>
                        <li><a href="#">Give</a></li>
                        <li><a href="#">Membership</a></li>
                        <li><a href="#">Organization</a></li>
                    </ul>
                    <div class="clear"></div>
                    <div class="logo_container">
                        <img alt="140x140" src="../img/pup-logo.png" />
                    </div>
                </div>            
            </footer>
    	</div><!-- #wrap -->
</div><!-- #footer-container -->
</body>
</html>