
<div id="header-container">
	<div class="row clearfix">
			<div class="logo_container">
				<img alt="140x140" src="../img/pup-logo.png" />
				<div class="school">
					<span class="text1">Polytechnic University of the Philippines</span><br>
					<span class="text2"><strong style="color:#000000!important;">Santa Rosa</strong> <style="color: #c0c0c0;">Campus</style></span><br>
					<span class="text3"><strong>ALLUMNI ASSOCIATION INC.</span>
				</div>
			</div>
		<div class="menu_container">
			<ul class="nav nav-pills">
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Connect</a>
				</li>
				<li>
					<a href="#">Give</a>
				</li>
				<li>
					<a href="#">Membership</a>
				</li>
				<li>
					<a href="#">Organization</a>
				</li>
			</ul>
		</div>
	</div>
</div>

